.form-control1 {
    background-color: rgb(51, 83, 213);
    position: relative;
    margin: 20px 0 40px;
    width: 100%;
}

.form-control1 input {
    background-color: rgb(51, 83, 213);
    border: 0;
    border-bottom: 2px rgb(18, 45, 155) solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #fff;
}

.form-control1 input:focus,
.form-control1 input:valid {
    outline: 0;
    border-bottom-color: #fff;
}

.form-control1 label {
    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none;
}

.form-control1 label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    color: #fff;
    -webkit-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control1 input:focus+label span,
.form-control1 input:valid+label span {
    color:#fff;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
}